<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>GET page</title>
		<link rel=stylesheet type=text/css href='{{ url_for('static',filename='style.css')}}'>
	</head>
	<body>
		<div>
  			<h1>GET page</h1>
				<div class=metanav>
			    <form id='user_information_form' method='post' action='index' >
			      <p>
			  	 		Enter a month: <input type='text' name='month' />
			      </p>
			    		<!--Closing price <input type="checkbox" value=1 name='close'><p></p>
			    		Adjusted Closing Price <input type="checkbox" value=1 name='adjclose'><p></p>-->
			    	<input type='submit' value='Submit' />
			    </form>
			  </div>
		</div>
	</body>
</html>
